- profit for each month
- profit after tax for each month (the tax rate is 30%)
- profit margin for each month - equals to profit a after tax divided by revenue
- good months - where the profit after tax was greater than the mean for the year
- bad months - where the profit after tax was less than the mean for the year
- the best month - where the profit after tax was max for the year
- the worst month - where the profit after tax was min for the year

In [336]:
import pandas as pd

In [337]:
months = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec']

In [338]:
df = pd.DataFrame(data = months,columns=['Months'])

In [339]:
Revenue = [14574.49, 7606.46, 8611.41, 9175.41, 8058.65, 8105.44, 11496.28, 9766.09, 10305.32, 14379.96, 10713.97, 15433.50]

In [340]:
Revenue

[14574.49,
 7606.46,
 8611.41,
 9175.41,
 8058.65,
 8105.44,
 11496.28,
 9766.09,
 10305.32,
 14379.96,
 10713.97,
 15433.5]

In [341]:
Exp = [12051.82, 5695.07, 12319.20, 12089.72, 8658.57, 840.20, 3285.73, 5821.12, 6976.93, 16618.61, 10054.37, 3803.96]

In [342]:
Exp

[12051.82,
 5695.07,
 12319.2,
 12089.72,
 8658.57,
 840.2,
 3285.73,
 5821.12,
 6976.93,
 16618.61,
 10054.37,
 3803.96]

In [343]:
df['Revenue'] = Revenue
df['Exp'] = Exp

In [344]:
df

   Months   Revenue       Exp
0     Jan  14574.49  12051.82
1     Feb   7606.46   5695.07
2     Mar   8611.41  12319.20
3     Apr   9175.41  12089.72
4     May   8058.65   8658.57
5    June   8105.44    840.20
6    July  11496.28   3285.73
7     Aug   9766.09   5821.12
8     Sep  10305.32   6976.93
9     Oct  14379.96  16618.61
10    Nov  10713.97  10054.37
11    Dec  15433.50   3803.96

In [347]:
profit = []
for k in zip(Revenue,Exp):
    sub = k[0] - k[1]
    profit.append(round(sub,2))

In [348]:
profit

[2522.67,
 1911.39,
 -3707.79,
 -2914.31,
 -599.92,
 7265.24,
 8210.55,
 3944.97,
 3328.39,
 -2238.65,
 659.6,
 11629.54]

In [349]:
profit_after_tax = [round(0.7*k,2) for k in profit]
profit_margin = [round((k[0]/k[1])*100) for k in zip(profit_after_tax,Revenue)]

In [350]:
profit_margin

[12, 18, -30, -22, -5, 63, 50, 28, 23, -11, 4, 53]

In [351]:
df['Profit after Tax'] = profit_after_tax

In [352]:
df['Profit Margin'] = profit_margin

In [353]:
df['Profit'] = profit

In [356]:
add = 0
for k in profit_after_tax:
    add += k

mean = round(add/len(profit_after_tax),2)

In [357]:
mean

1750.68

In [358]:
df

   Months   Revenue       Exp  Profit after Tax  Profit Margin    Profit
0     Jan  14574.49  12051.82           1765.87             12   2522.67
1     Feb   7606.46   5695.07           1337.97             18   1911.39
2     Mar   8611.41  12319.20          -2595.45            -30  -3707.79
3     Apr   9175.41  12089.72          -2040.02            -22  -2914.31
4     May   8058.65   8658.57           -419.94             -5   -599.92
5    June   8105.44    840.20           5085.67             63   7265.24
6    July  11496.28   3285.73           5747.38             50   8210.55
7     Aug   9766.09   5821.12           2761.48             28   3944.97
8     Sep  10305.32   6976.93           2329.87             23   3328.39
9     Oct  14379.96  16618.61          -1567.06            -11  -2238.65
10    Nov  10713.97  10054.37            461.72              4    659.60
11    Dec  15433.50   3803.96           8140.68             53  11629.54

In [359]:
good_months = df[df['Profit after Tax']>mean]
bad_months = df[df['Profit after Tax']<mean]

In [360]:
good_months

   Months   Revenue       Exp  Profit after Tax  Profit Margin    Profit
0     Jan  14574.49  12051.82           1765.87             12   2522.67
5    June   8105.44    840.20           5085.67             63   7265.24
6    July  11496.28   3285.73           5747.38             50   8210.55
7     Aug   9766.09   5821.12           2761.48             28   3944.97
8     Sep  10305.32   6976.93           2329.87             23   3328.39
11    Dec  15433.50   3803.96           8140.68             53  11629.54

In [361]:
bad_months

   Months   Revenue       Exp  Profit after Tax  Profit Margin   Profit
1     Feb   7606.46   5695.07           1337.97             18  1911.39
2     Mar   8611.41  12319.20          -2595.45            -30 -3707.79
3     Apr   9175.41  12089.72          -2040.02            -22 -2914.31
4     May   8058.65   8658.57           -419.94             -5  -599.92
9     Oct  14379.96  16618.61          -1567.06            -11 -2238.65
10    Nov  10713.97  10054.37            461.72              4   659.60

In [362]:
worst_month = df[df['Profit after Tax']==min(df['Profit after Tax'])]

In [363]:
worst_month

  Months  Revenue      Exp  Profit after Tax  Profit Margin   Profit
2    Mar  8611.41  12319.2          -2595.45            -30 -3707.79

In [364]:
best_month = df[df['Profit after Tax']==max(df['Profit after Tax'])]

In [365]:
best_month

   Months  Revenue      Exp  Profit after Tax  Profit Margin    Profit
11    Dec  15433.5  3803.96           8140.68             53  11629.54